.custom-select
  input.select-search(type="text", placeholder="Search for types of payment")
  select#select-payment
    option.placeholder(value="Credit Card") Credit Card
    option(value="Credit Card") Credit Card
    option(value="Receipt") Receipt
    option(value="Visa - Mastercard") Visa - Mastercard